.header {
    background: transparent;
    width: 100%;
}

.header_wrapper {
    background: transparent;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.black {
    color: var(--color-black);
}

.white {
    color: var(--color-white);
}

.logo {
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    font-size: 0.9rem;
    padding: 20px;
    text-decoration: none;
}

/* Responsiveness */
/* 576px screen */
@media screen and (max-width: 576px) {
    nav {
        width: 0;
    }
}