.testimonial {
    margin-bottom: 100px;
}

.testimonials {
    width: 100%;
    max-width: 1650px;
    margin: auto;
    display: flex;
    gap: 4%;
}

/* Responsivenss */
/* 766px screen */
@media screen and (max-width: 766px) {
    .testimonials {
        flex-direction: column;
    }
}